<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyu.sip.cms.banner.dao.impl.mybatis.BannerMapper" >
  <resultMap id="BannerResultMap" type="com.haoyu.sip.cms.banner.entity.Banner" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="TARGET" property="target" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="ARTICLE_LINK" property="articleLink" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" />
    <result column="RELATION_ID" property="relationId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    M.ID, M.TITLE,M.TARGET,M.IMAGE_URL,M.ARTICLE_LINK,M.RELATION_ID,M.ORDER_NO,M.CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BannerResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List"/>
    from CMS_BANNER M
    where M.IS_DELETED='N'
    and M.ID=#{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParameter" resultMap="BannerResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List"/>
    from CMS_BANNER M
    where M.IS_DELETED='N'
    <if test="title!=null and title!=''">
    	<bind name="pattern" value="'%' + title + '%'" />
    	and M.TITLE LIKE #{pattern}
    </if>
    <if test="relationId!=null and relationId!=''">
    	and M.RELATION_ID=#{relationId,jdbcType=VARCHAR}
    </if>
    <if test="articleLink!=null and articleLink!=''">
    	and M.ARTICLE_LINK=#{articleLink,jdbcType=VARCHAR}
    </if>
    order by ORDER_NO
  </select>
  <insert id="insert" parameterType="com.haoyu.sip.cms.banner.entity.Banner">
  	insert into CMS_BANNER(ID,TITLE,TARGET,IMAGE_URL,ARTICLE_LINK,RELATION_ID,ORDER_NO,CREATOR,CREATE_TIME,IS_DELETED,VERSION)
  	values(#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{target,jdbcType=VARCHAR},#{imageUrl,jdbcType=VARCHAR},#{articleLink,jdbcType=VARCHAR},#{relationId,jdbcType=VARCHAR},
  	#{orderNo,jdbcType=INTEGER},#{creator.id,jdbcType=VARCHAR},#{createTime,jdbcType=BIGINT},#{isDeleted,jdbcType=VARCHAR},#{version,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.haoyu.sip.cms.banner.entity.Banner">
  	update CMS_BANNER
  	<set >
      <if test="title != null and title!=''" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="target != null and target!=''" >
        TARGET = #{target,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null and relationId != ''">
      	RELATION_ID = #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="articleLink != null and articleLink!=''" >
        ARTICLE_LINK = #{articleLink,jdbcType=VARCHAR},
      </if>
 	  <if test="imageUrl != null and imageUrl!=''" >
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby.id,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      </if>
      VERSION = VERSION+1
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByPhysics" parameterType="java.lang.String">
  	delete CMS_BANNER
    where ID=#{id,jdbcType=VARCHAR}
  </delete>
  <update id="deleteByLogic" parameterType="com.haoyu.sip.cms.banner.entity.Banner">
  	  update CMS_BANNER
  	  set IS_DELETED='Y',
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby.id,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT},
      </if>
       VERSION=VERSION+1
      where 
      <choose>
      	<when test="id!=null and id!=''">
      		ID=#{id,jdbcType=VARCHAR}
      	</when>
      	<otherwise>
      		RELATION_ID=#{relationId,jdbcType=VARCHAR}
      	</otherwise>
      </choose>
  </update>
</mapper>