<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haoyu.sip.label.dao.impl.mybatis.LabelMapper" >
  <resultMap id="BaseResultMap" type="com.haoyu.sip.label.entity.Label" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator.id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="INTEGER" />
    <result column="UPDATEDBY" property="updatedby.id" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="INTEGER" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="CHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, SUMMARY, CREATOR, CREATE_TIME, UPDATEDBY, UPDATE_TIME, IS_DELETED, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LABEL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LABEL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.haoyu.sip.label.entity.Label" >
    insert into LABEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="summary != null" >
        SUMMARY,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatedby != null" >
        UPDATEDBY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator.id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updatedby != null" >
        #{updatedby.id,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.haoyu.sip.label.entity.Label" >
    update LABEL
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        SUMMARY = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator.id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby.id,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectOneByName" resultMap="BaseResultMap" parameterType="string">
  	select *
  	from LABEL
  	where IS_DELETED = 'N'
    and NAME = #{name}
  </select>
  <update id="deleteWithoutRelation" parameterType="com.haoyu.sip.label.entity.Label">
  	update LABEL L
  	set IS_DELETED = 'Y', UPDATE_TIME = #{updateTime,jdbcType=INTEGER}
  	<if test="updatedby != null and updatedby != ''">
  		,UPDATEDBY = #{updatedby.id,jdbcType=VARCHAR}
  	</if>
  	where L.IS_DELETED = 'N'
  	and not exists (select 1 from LABEL_RELATION LR where L.ID = LR.LABEL_ID)
  </update>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="com.haoyu.sip.label.entity.Label">
  	select ID, NAME
  	from LABEL
  	where IS_DELETED = 'N'
    and NAME like #{name,jdbcType=VARCHAR} || '%'
  </select>
  <select id="selectByRelationId" resultMap="BaseResultMap" parameterType="string">
   select LAB.NAME, LAB.ID
   from LABEL_RELATION LAB_REL 
   join LABEL LAB
   on LAB_REL.LABEL_ID =LAB.ID
   where LAB_REL.RELATION_ID =#{relationId}
  </select>
</mapper>